.money{
    background-image: url('./pexels-john-guccione-wwwadvergroupcom-3483098.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}